ThermalSprings.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (x64) (http://www.altova.com) by Ryan Clark (private) -->
<xs:schema xmlns:aasg="http://stategeothermaldata.org/uri-gin/aasg/xmlschema/thermalspring/1.8" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" xmlns:gmlsf="http://www.opengis.net/gmlsf" targetNamespace="http://stategeothermaldata.org/uri-gin/aasg/xmlschema/thermalspring/1.8" elementFormDefault="qualified" version="1.08">
	<xs:import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
	<xs:import namespace="http://www.opengis.net/gmlsf" schemaLocation="http://schemas.opengis.net/gml/3.1.1/profiles/gmlsfProfile/1.0.0/gmlsfLevels.xsd"/>
	<xs:annotation>
		<!-- This XSD document, including XML schema, indicates the content requested for AASG geothermal data interoperable web services for description of thermal spring temperature and location data. In the geothermal data system, thermal spring features are one of the sampling feature services that are used as a method to discover resources derived from borehole with particular characteristics. Each thermal spring should have a unique ThermalSpringURI-->
		<!--Annotated version 1.8.1. This XSD document was created on 2012-02-24 by Celia Coleman, AZGS. This schema is based on the data available in the AASG Web Feature Services created for the thermal springs in WY, OR, CO, CA and AZ. Field Description annotations standardized 2013-08-22 by Esty Pape, AZGS.-->
		<xs:appinfo source="http://schemas.opengis.net/gml/3.1.1/profiles/gmlsfProfile/1.0.0/gmlsfLevels.xsd">
			<gmlsf:ComplianceLevel>0</gmlsf:ComplianceLevel>
			<gmlsf:GMLProfileSchema>
http://schemas.opengis.net/gml/3.1.1/profiles/gmlsfProfile/1.0.0/gmlsf.xsd </gmlsf:GMLProfileSchema>
		</xs:appinfo>
	</xs:annotation>
	<xs:element name="ThermalSpring" type="aasg:ThermalSpringType" substitutionGroup="gml:_Feature"/>
	<xs:complexType name="ThermalSpringType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="OBJECTID" type="xs:int" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Integer record count, added by ArcGIS servers during service deployment; not required but cannot be removed when deploying from ArcGIS feature class. Not user maintained, so this element appears in XML implementation but not in the Content Model Template.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ThermalSpringURI">
						<xs:annotation>
							<xs:documentation>Unique identifier that specifies the feature represented: e.g. a geologic feature, aquifer or facility structure. Ideally, the identifier is an http URI that will dereference to a known, useful representation of the feature. This identifier will be used to cross reference the feature to other information related to this feature.</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="255"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="SpringName" type="xs:string">
						<xs:annotation>
							<xs:documentation>Common or human-readable name by which the feature is known. Recommend using only web-safe characters (a-z A-Z 0-9 _-.) in the name. Be consistent in the naming convention used within any given dataset.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Label" type="xs:string">
						<xs:annotation>
							<xs:documentation>Short text string for labeling the feature on maps. Can be the same as feature name. A label may be an OtherLocationName, OtherID or the Name or some combination.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OtherName" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Other human-intelligible labels for feature such as secondary spring name or common name, other spellings. Indicate the authority from which the OtherName is derived with a short (lower case) prefix delimited by a colon ':' If identifiers from multiple different authorities are available, delimit these identifiers with the pipe character '|'. For example, if a well were known to the Arizona Geological Survey (AZGS) by the id number 1337, the identifier string would be azgs:1337. Any such prefixes used to scope identifiers should be explained in the dataset metadata.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OtherIdentifier" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Alternative identifier(s) for observation or site information. Indicate the authority from which the OtherID is derived with a short (lower case) prefix delimited by a colon ':' If identifiers from multiple different authorities are available, delimit these identifiers with the pipe character '|'. For example, if a well were known to the Arizona Geological Survey (AZGS) by the id number 1337, the identifier string would be azgs:1337. Any such prefixes used to scope identifiers should be explained in the dataset metadata.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Description" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Free text field for any additional observations or other information regarding the feature (size, weight, quality, lithology, locality, etc).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Source" type="xs:string">
						<xs:annotation>
							<xs:documentation>Mandatory. Short text explanation of source of information defining feature; may be author-date type citation, but should include some indication of how digital data originated. If unpublished data, provide researcher name, date and research institution for proper citation. Separate multiple citations with pipe '|' character.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SourceURI" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Identifier, DOI or other URI, for the cited source. Ideally an http URI that may be dereferenced to produce a representation of the original source document.</xs:documentation>
						</xs:annotation>
						</xs:element>
					<xs:element name="FeatureType" type="xs:string">
						<xs:annotation>
							<xs:documentation>Type of spring feature: Hot spring (Spring that issues water with temperature above 50 °C and over 15 °C above mean annual air temperature); Warm spring (Spring that issues water with temperature below 50 °C and 15 C or less above mean annual air temperature); Thermal spring (Spring that issues water with water temperature above body  temperature).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LandLeaseOwner" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Companies, individuals, or other entities who own the property. Separate multiple with a pipe '|' character.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OtherLocationName" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Names of geographic features associated with the site that will be useful as search criteria to locate the information for this site. If identifiers from multiple different authorities are available, delimit these identifiers with the pipe character '|'.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="County" type="xs:string">
						<xs:annotation>
							<xs:documentation>Required. County name. If unknown or not applicable use 'missing'. If offshore, specify 'offshore' in this field.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="State" type="xs:string">
						<xs:annotation>
							<xs:documentation>Required. State name without abbreviations. If unknown or not applicable use 'missing'. For offshore locations, specify the governing or nearest state and list the county as 'offshore'.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PLSS_Meridians" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>List north-south baseline and east-west meridian that Townships and Ranges are referenced to.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Township" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Township in PLSS grid, relative to reported baseline. Formatting and punctuation should be consistent for all locations referenced to the same baseline and meridian. Recommend adding leading '0's so that all number strings are the same length (typically 2 or occasionally 3 digits). Examples 01N, 112S, 001N.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Range" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Range in PLSS grid, relative to reported meridian. Formatting and punctuation should be consistent for all locations referenced to the same baseline meridian. See instructions on TWP field.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Section_" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>PLSS section number. Must be numeric or null. Some surveys include half sections indicated by a 'nn.5' designation, where n indicates a number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SectionPart" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Subdivision of a PLSS section.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Parcel" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Legal parcel identifier, or block number, or other parcel or location identifier.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="UTM_E" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>UTM easting coordinate as decimal number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="UTM_N" type="xs:double" minOccurs="0">
						<xs:annotation>
							<xs:documentation>UTM northing coordinate as decimal number.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="UTMDatumZone" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>The datum and UTM zone for the reported coordinates. Datum for most locations should be NAD27 or NAD83.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LatDegree" type="xs:double">
						<xs:annotation>
							<xs:documentation>Latitude coordinate for the surface location of the feature (use center point for areas); values should be provided with at least 4 significant digits for sufficient precision (7 decimal places is recommended by the USGS (OFR 02-463, p. 6). Use decimal degrees.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LongDegree" type="xs:double">
						<xs:annotation>
							<xs:documentation>Longitude coordinate for the surface location of the feature (use center point for areas); values should be provided with at least 4 significant digits for sufficient precision (7 decimal places is recommended by the USGS (OFR 02-463, p. 6). Use decimal degrees.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SRS" type="xs:string">
						<xs:annotation>
							<xs:documentation>The spatial reference system. It is recommended that an EPSG code be used to identify the SRS used to specify the location.  If an EPSG code is used, identify it as such with the prefix 'EPSG:' For common EPSG codes, see the Data Valid Terms tab. EPSG:4326 is the identifier for WGS84, and should be the text in this field. EPSG stands for European Petroleum Survey Group. EPSSG codes can be dereferenced by putting the code in this URL (replace 4326) http://spatialreference.org/ref/epsg/4326/.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LocationUncertaintyStatement" type="xs:string">
						<xs:annotation>
							<xs:documentation>Information on how the original location was determined, e.g.: 1:250,000 map, gps unit, Google Earth, PLSS Conversion, Spatial Datum Conversion, e.g., NAD27 to WGS84.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Temperature" type="xs:double">
						<xs:annotation>
							<xs:documentation>Temperature, in decimal format. Degrees Celsius is preferred and will be reported for consistency in service implementations.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TemperatureUnits" type="xs:string">
						<xs:annotation>
							<xs:documentation>Reporting units are either Celsius (preferred) or Fahrenheit. Use same units throughout this document.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TempMeasurementProcedure" type="xs:string">
						<xs:annotation>
							<xs:documentation>Text description of measurement procedure and methods used to calculate corrections.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TempMeasurementDateTime" type="xs:string">
						<xs:annotation>
							<xs:documentation>Date for the record (date on which observation, measurement or test was made or specimen was collected. Day, month and year must be specified; Excel will display using ISO 8601 date and time (yyyy-mm-ddT:hh:mm) format. If only the year is known, enter month and day as 'Jan. 1', (or '1/1/', or '1-1-', or 'January 1,'). All dates will be converted to yyyy-mm-ddThh:mm.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Flow" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Fluid production flow rate, reported in decimal format.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FlowUnits" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Units for flow rate, either gallons per minute (gpm) or liters per minute (lpm).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FlowMeasurementProcedure" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Text description of how the measurement was made - instrumentation, logging rate, correction or extrapolation process, how time since circulation was determined, etc. Data provider should indicate QA/QC performed on the data, including individual or institution, time frame and depth of quality check.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FlowMeasurementDateTime" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Date for the record (date on which observation, measurement or test was made or specimen was collected. Day, month and year must be specified; Excel will display using ISO 8601 date and time (yyyy-mm-ddT:hh:mm) format. If only the year is known, enter month and day as 'Jan. 1', (or '1/1/', or '1-1-', or 'January 1,'). All dates will be converted to yyyy-mm-ddThh:mm.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MeasurementSource" type="xs:string">
						<xs:annotation>
							<xs:documentation>Mandatory. Short text explanation of source of information defining this feature or record; may be author-date type citation, well log, report, data files etc., but should include some indication of how digital data originated. If unpublished data, provide researcher name, date and research institution for proper citation. Separate multiple citations with pipe '|' character.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FlowContinuity" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Continuity of flow terms: Perennial water source (has continuous flow all year long); Intermittent (normally ceases flowing for weeks or months each year); ephermal (flow only for hours or days following rainfall).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Classification" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>"Springs are often classified by the volume of the water they discharge: Magnitude 1 ( > 100 ft³/s); Magnitude 2 (10 to 100 ft³/s); Magnitude 3 (1 to 10 ft³/s); Magnitude 4 (100 US gal/min to 1 ft³/s [448 US gal/min]); Magnitude 5 (10 to 100 gal/minde); Magnitude 6 (1 to 10 gal/min); Magnitude 7 (1 pint to 1 gal/min); Magnitude 8 (Less than 1 pint.min); Magnitude 0 (no flow [sites of past/historic flow]); Magnitude Unknown.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RelatedWaterChemistry" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>None if no chemical data available; a string list of available constituents or analysis types if analyses are available.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RelatedResources" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Links to additional information. Consists of a collection of {dataType, URL} pairs that would allow automation of access to the related resources.  Delimit multiple values with the pipe character '|' e.g. {wellHeader, http://resources.usgin.org/uri-gin/kgs/well/R13253/} | {photograph, http://geothermaldata.org/resources/photo/145656.tif}.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Remarks" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Any additional information to be provided, including description and other data not captured by the template, details about collection method, contact information for related parties (original collector, project PI), collection platform or Launch, etc.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Notes" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Any additional information to be provided, including description and other data not captured by the template, details about collection method, contact information for related parties (original collector, project PI), collection platform or Launch, etc.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Shape" type="gml:PointPropertyType">
						<xs:annotation>
							<xs:documentation>Added by GIS for WFS service; this element appears in the xml output, but is generated during service deployment from the latitude and longitude, therefore it doesn't appear in the template.</xs:documentation>
						</xs:annotation>
						</xs:element>
					<xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
